body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/stars.webp);
}

.container {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/carina-nebulosa.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.imagens {
    width: 90%;
    height: 70%;
    margin: 2rem;
    margin-bottom: 10rem;
    border-radius: 2rem;
    
}

.img {
    border-style: groove;
    border-radius: 5%;
    margin: 3rem;
    width: 50vw;
    height: 90vh;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

#exampleFormControlTextarea1 {
    max-height: 25vh;
}

@media (max-width:800px) {
    .img{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
    .imagens{
        width: 90%;
        height: 70%;
        margin: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
}